<div class="grid-y align-center-middle navigation hide-for-large" style="height: 4rem;">
  <div class="shrink cell text-center" style="z-index: 10;">
    <a data-toggle="overlayNavigation" class="text-uppercase sans-bold h3 text-center">{{siteName}}</a>
  </div>
</div>

<!-- Header -->
<div class="grid-y align-center-middle navigation show-for-large-only text-center" style="height: 4rem;">
  <div class="shrink cell padding-2" style="z-index: 10;">

    <div class="home__title">
      <div class="h3 margin-bottom-0 text-center text-uppercase">{{siteName}}</div>
    </div>

    <div class="home__menu hide">
      <a data-toggle="overlayNavigation" class="text-uppercase sans-bold h3 text-center">Menu</a>
    </div>

  </div>
</div>

<!-- Header -->
<div class="grid-y align-center-middle navigation show-for-xlarge" style="height: 4rem;">
  <div class="shrink cell padding-2" style="z-index: 10;">

    <div class="home__title">
      <div class="h3 margin-bottom-0 text-center text-uppercase">{{siteName}}</div>
    </div>

    <div class="home__menu hide">
      <ul class="menu align-center">
        {% nav category in craft.categories.group('typeOfFilm').all %}
            <li>
             <a href="{{ category.url }}" class="sans-bold h5">{{ category.title }}</a>
            </li>
        {% endnav %}
        <li><a href="/about" class="sans-bold h5">About</a></li>
        <li><a href="/contact" class="sans-bold h5">Contact</a></li>
      </ul>
    </div>

  </div>
</div>
<!-- End  Header -->
